#text {
    color:darkblue;
    background-color:bisque;
    background-image: url(TETKO.png);
    background-position: center;
    background-repeat: no-repeat;
}
#main {
    color:aqua;
    background-color: brown;
    text-align: center;
    font-size: 700%;
    border: 1px solid black;
}
#screen {
    width: 20%;
}